DB_URL=mongodb://localhost:27017/perfido
PORT=27017
JWT_SECRET=default-jwt-secret
JWT_EXPIRES_IN=60m
JWT_SECRET_REF=default-jwt-ref-secret
JWT_EXPIRES_REF_IN=1d
EMAIL=verified-email
EMAIL_USER_NAME=apikey
EMAIL_PASSWORD=verfied-password
GITHUB_OAUTH_CLIENT_ID=verfiedid
GITHUB_OAUTH_CLIENT_SECRET=verfiedsecertkey
GITHUB_CALLBACK_URL=githubCallbackUrl
AZURE_AD_CLIENT_ID=verfiedid
AZURE_AD_CLIENT_SECRET=verfiedsecertkey
AZURE_AD_CALLBACK_URL=microsoftCallbackUrl
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/users/google/callback
